<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsldkjijUmQlRwSXNQZFsqVtDp1Re1Rw0</string>
	<key>GCM_SENDER_ID</key>
	<string>647697533586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Prince.Prince-Trading</string>
	<key>PROJECT_ID</key>
	<string>prince-trading-royal</string>
	<key>STORAGE_BUCKET</key>
	<string>prince-trading-royal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647697533586:ios:628fc33aaeed8e0699b44b</string>
</dict>
</plist>